/* 添加自定义字体 */
/* 可口可乐字体 */
@font-face {
  font-family: "Coca";
  src: local(""), url("../font/Coca.woff2") format("woff2");
  font-weight: bolder;
}

/* FireCode */
@font-face {
  font-family: "Fira";
  src: local(""), url("../font/FiraCode-Bold.woff2") format("woff2");
}

/* Cascadia */
@font-face {
  font-family: "Casc";
  src: local(""), url("../font/CascadiaMono.woff2") format("woff2");
}

/* 设置全局变量 */
:root {
  --vvv: calc(100% - 4rem);
  --view_with: min(70ch, 65rem, var(--vvv));
  --😶‍🌫️dis: calc((100% - var(--view_with)) / 2);
  --gg_green: #99cc99;
  --font_size: clamp(0.85rem, 0.85rem + 0.2vw, 1.25rem);
  --🔤family_0: Fira, system-ui;
  --🔤family_1: Fira, Coca, system-ui;
  --🔤family_2: Casc, Coca, system-ui;
}

html {
  color-scheme: light dark;
  scroll-behavior: smooth;
  scroll-padding: 2em;
}

body {
  font-family: var(--🔤family_0);
  font-size: var(--font_size, 1.125rem);
  line-height: 1.5;
  overflow-wrap: break-word;
  transition: all 0.36s ease-in-out;
}

main {
  width: var(--view_with);
  margin-inline: auto;
  padding: 0.5em;
  /* background-color: ; */
  /* backdrop-filter: blur(15px) saturate(180%); */
  /* border-radius: 1em; */
  /* border: 1px dashed #99cc9980; */
}

a {
  text-decoration: underline dashed red;
  color: initial;
  background: linear-gradient(to right, red, #9c9) no-repeat right bottom;
  background-size: 0 0.1rem;
  transition: background-size 0.3s ease-in-out;
}

/* 设置链接的样式 */
a:hover {
  background-position-x: left;
  text-decoration: none;
  background-size: 100% 0.15rem;
}

/* 令脚部居中 */
footer {
  width: min(80ch, 100% - 4rem);
  margin-inline: auto;
  text-align: center;
}

img,
svg,
video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

/* 搜索框 */
#searchInput {
  width: 90%;
  /* max-width: 260px; */
  /* min-width: 60px; */
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #4caf50;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

/* 鼠标悬停或聚焦时的样式变化 */
#searchInput:hover,
#searchInput:focus {
  border-color: #99cc99;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#searchResults {
  margin-top: 20px;
  counter-reset: search-results-counter;
}

#searchResults div {
  border-bottom: 1px dashed #ccc;
  padding: 5px 0;
}

#searchResults div:before {
  counter-increment: search-results-counter;
  content: counter(search-results-counter) ".";
}

/* 通用按钮样式 */
.common-button {
  position: fixed;
  width: 40px;
  height: 40px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  user-select: none;
  transition: background-color 0.1s ease-in-out;
  opacity: 0.3;
  z-index: 16;
}

.common-button:hover {
  opacity: 0.9;
}

.common-button:active {
  opacity: 0.5;
  filter: blur(0.1rem);
  /* background-color: #666; */
}

/* 颜色切换按钮 */
#toggle-color-scheme-change {
  top: 16px;
  right: var(--😶‍🌫️dis);
  font-size: 26px;
}

/* 回到顶部按钮 */
#backToTop {
  bottom: 16px;
  right: var(--😶‍🌫️dis);
  font-size: 36px;
  /* visibility: hidden; */
}

#DDE-header {
  /* background-color: #231; */
  width: fit-content;
  margin: 3.5rem auto;
  margin-inline: auto;
  align-items: center;
}

/* 滚动加载字幕效果 */
.loading-text {
  /* visibility: hidden; */
  position: relative;
  display: inline-block;
  overflow: hidden;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, red, white);
  background-size: 100% 100%;
  animation: textColorScroll 1s ease infinite;
}

/* 闪烁字体 */
.dynamic-text {
  animation: textAnimation 1.6s ease infinite;
}

/* 定义文字滚动动画关键帧 */
@keyframes textColorScroll {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  50% {
    clip-path: inset(0);
  }

  100% {
    clip-path: inset(0 0 0 100%);
  }
}

@keyframes textAnimation {
  0% {
    color: #9c9;
    transform: translateX(0);
  }

  20% {
    color: #f39a0b;
    transform: translateX(0px);
  }

  50% {
    color: #e71a0f;
    transform: translateX(0px);
  }

  75% {
    color: #f39a0b;
    transform: translateX(0px);
  }

  100% {
    color: #9c9;
    transform: translateX(0);
  }
}

#titleH1:hover::after {
  /* visibility: hidden; */
  font-size: smaller;
  content: " DDE古地理组制作";
  opacity: 0.6;
}

/* 前6级标题自动编号 */
main {
  counter-reset: h1counter;
}

h1 {
  counter-reset: h2counter;
  user-select: none;
}

h2 {
  counter-reset: h3counter;
}

h3 {
  counter-reset: h4counter;
}

h4 {
  counter-reset: h5counter;
}

h5 {
  counter-reset: h6counter;
}

h6 {
  counter-reset: h6counter;
}

h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  opacity: 0.6;
}

h2::before {
  counter-increment: h2counter;
  content: counter(h2counter) " ";
}

h3::before {
  counter-increment: h3counter;
  content: counter(h2counter) "." counter(h3counter) "\0000a0";
}

h4::before {
  counter-increment: h4counter;
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter)
    "\0000a0";
}

h5::before {
  counter-increment: h5counter;
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "."
    counter(h5counter) "\0000a0";
}

h6::before {
  counter-increment: h6counter;
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "."
    counter(h5counter) "." counter(h6counter) "\0000a0";
}

h2:hover::before,
h3:hover::before,
h4:hover::before,
h5:hover::before,
h6:hover::before {
  visibility: visible;
  filter: brightness(1.5);
  opacity: 1;
}
