html {
  color-scheme: light dark;
}

body {
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.5;
  overflow-wrap: break-word;
  transition: all 0.36s ease-in-out;
}

main {
  width: min(70ch, 100% - 4rem);
  margin-inline: auto;
  /* background-color: #231009; */
}

a {
  text-decoration: underline dashed red;
  color: initial;
  background: linear-gradient(to right, red, #fff) no-repeat right bottom;
  background-size: 0 0.1rem;
  transition: background-size 0.3s ease-in-out;
}

/* 设置链接的样式 */
a:hover {
  background-position-x: left;
  text-decoration: none;
  background-size: 100% 0.15rem;
}

/* 令脚部居中 */
footer {
  width: min(80ch, 100% - 4rem);
  margin-inline: auto;
  text-align: center;
}

#DDE-header {
  /* background-color: #231; */
  width: fit-content;
  margin: 3.5rem auto;
  margin-inline: auto;
  align-items: center;
}

img,
svg,
video {
  max-width: 98%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}


/* 通用按钮样式 */
.common-button {
  position: fixed;
  width: 40px;
  height: 40px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  user-select: none;
  transition: background-color 0.1s ease-in-out;
  opacity: 0.3;
}

.common-button:hover {
  opacity: 0.5;
  filter: blur(0.1rem);
}

.common-button:active {
  filter: none;
  opacity: 0.9;
  /* background-color: #666; */
}

/* 颜色切换按钮 */
#toggle-color-scheme-change {
  top: 16px;
  right: 16px;
  font-size: 26px;
}

/* 回到顶部按钮 */
#upupup {
  bottom: 16px;
  right: 16px;
  font-size: 36px;
}

/* 滚动加载字幕效果 */
.loading-text {
  visibility: hidden;
  position: relative;
}

.loading-text::before,
.loading-text::after {
  visibility: visible;
  content: attr(data-text);
}

.loading-text::after {
  color: #cf1919;
  /* font-weight: bold; */
  filter: blur(0.1rem);
  animation: textColorScroll 2s ease infinite;
  position: absolute;
  left: 0;
}

/* 定义文字滚动动画关键帧 */
@keyframes textColorScroll {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  50% {
    clip-path: inset(0);
  }

  100% {
    clip-path: inset(0 0 0 100%);
  }
}